
/* YourComponent.css */

.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.employee-table th, .employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employee-table th {
  background-color: #f2f2f2;
}

.employee-table input {
  width: 100%;
  padding: 5px;
}

.employee-table button {
  padding: 5px 10px;
  cursor: pointer;
}
.submit-btn{

    background-color: #043b5c;
    color: white;
    border: none;
}

.edit-btn {
  background-color: #abb7b7;
  color: black;
  border: none;
}

.delete-btn {
  background-color: #f44336;
  color: black;
  border: none;
}
